#cta{
	background: #33658a;
	padding : 20px 40px;
	
	margin : 50px 50px;
	width:50% ;
	color: white;
	font-family: 'Prata', serif;
	border-radius: 3px ;
	font-size: 20px;
}
.bottombutton{
	
	padding : 20px 40px;
	width: auto;
	margin : 50px 50px;
	width:auto;
	color: white;
	font-family: 'Prata', serif;
	border-radius: 3px ;
	font-size: 20px;
	border color: white;

}