
body{
  background-image: url("../../images/bdgal.jpg");
}
#argu{
color: white;
}
.container{
 
  width: auto;
  margin: 20px auto;
  text-align: center;
}

.card{
	height : 300px;
	width:auto ;
	border: none;

}
#header{
	background-color: #BDDDE0;
	padding: 10px;
  width: auto;

  top: 0;

}


/*CTA vers formulaire*/

#box1{
background-image: url("../../images/bdbox1.jpg");
background-position: center center;
color: white;
border-radius: 0;
position: 1;
margin-top: 10px;
}

/*Argumentaire*/
#box2 {
background: none;
font-color: white;
	padding: 20px;
  border-radius: 0;
  position: 2;
  margin :10px;
  border-color: white;
}
  
h2{
  color: white ;
}
p{
  color:white;
}
/* Slider */
div#box3 figure {
  position: relative; 
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}
div#box3 figure img { 
	width: 20%; 
	height: auto; 
	float: left; 
	margin: auto;


}

div#box3 { 
	width: auto;
	height: auto;
 	overflow: hidden;
border-radius: 0,2%;
position: 3;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
div#box3 figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 15s slidy infinite;
}

#box4{
margin-top: 10px;

}
iframe{
  width: auto;
  border-radius: 0;
  border-color: white
 }
/*box map*/

#cardtop{
  background-color: #BDDDE0;
  padding: 10px;
  width: auto;

  top: 0;

}

/* Add a black background color to the top navigation */
.topnav {
background-color: #4BA3C3;
overflow: hidden;
border-radius: 5px;
border: 2px solid;
border-color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #175676;
color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #175676;
color: white;
}